.spots-grid {
  display: grid;
  grid: 250px / repeat(auto-fill, 250px);
  max-width: 1000px;
  margin: 10px 0;
}

.spot-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin: 10px;
}

.spot-image-div {
  display: flex;
  align-items: center;
  height: 200px;
}
.spot-image {
  border: 1px solid black;
  width: 100%;
  height: 180px;
}

.spot-location-stars {
  display: flex;
  justify-content: space-between;
}
