.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid gray;
}

.logo {
  height: 24px;
  margin-right: 5px;
}

.home-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.menu-button {
  /* border-radius: 40%; */
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  color: red;
}
.menu-button-icon {
  margin: 4px;
}

.profile-dropdown {
  padding: 12px;
  position: absolute;
  right: 20px;
  top: 60px;
  border: 2px solid;
  border-radius: 8px;
  background-color: aliceblue;
}

.logout-button {
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px;
  background-color: tomato;
  cursor: pointer;
}

.menu-item {
  cursor: pointer;
}
